<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>꽁술 제휴점 약관</title>
    </head>
    <style>
        p {
            margin-left: 20px;
        }
    </style>
    <body>
        <br>
        <h1 style="text-align: center">제휴점 이용약관</h1>
        <br>

        <h3>제 1 조 [목적]</h3>
        <p>
            이 약관은 비엘씨 컴퍼니(이하 "회사"라 함)가 운영하는 정기구독 플랫폼에 제휴점으로 가입하여 스마트폰 등 이동통신기기를 통해 제공되는 애플리케이션[이하 “꽁술” (iOS,안드로이드 포함)]에서 맴버쉽 정기구독 서비스(이하 "서비스"라 함)를 이용하는 자(이하, "이용자")간의 권리, 의무를 확정하고 이를 이행함으로써 상호 발전을 도모하는 것을 그 목적으로 합니다.
        </p>
        <br>

        <h3>제 2 조 [약관의 명시, 효력 범위와 개정]</h3>
        <p>
            1. 회사는 이 약관의 내용을 회사의 상호, 영업소 소재지, 대표자의 성명, 사업자 등록번호, 연락처(전화, 팩스, 전자우편주소 등) 등과 함께 제휴점이 확인할 수 있도록 “애플리케이션” 및 “웹사이트”초기 화면 또는 연결화면에 게시합니다.
        </p>
        <p>
            2. 회사는 약관의규제에관한법률, 전자거래기본법, 전자서명법, 정보통신망이용촉진 및 정보보호 등에 관한 법률, 전자상거래 등에서의 소비자보호에 관한 법률, 전자금융거래법 등 관련 법률을 위배하지 않는 범위에서 본 약관을 개정할 수 있습니다.
        </p>
        <p>
            3. 회사가 약관을 개정할 경우에는 적용일자 및 개정사유를 명시하여 “꽁술” 공지사항에 등록하거나, 제휴점이 제공한 e-mail주소로 전달합니다. 이중 먼저 이루어진 시점에 개정 사항이 통지된 것으로 보며 그 적용일자 7일(다만, 제휴점에게 불리한 내용으로 변경하는 경우에는 30일) 이전부터 적용일자 전일까지 공지합니다. 변경된 약관은 그 적용일자 이전으로 소급하여 적용되지 아니합니다.
        </p>
        <br>

        <h3>제 3 조 [용어의 정의]</h3>
        <p>1. 이 약관에서 사용하는 용어의 정의는 다음과 같습니다.</p>
        <p>
            ①	꽁술 : 회사가 운영하는 앱 또는 웹 형태의 플랫폼으로서 각 제휴점 정보를 취합하여 이용자들에게 보여주고, 이용자들로 하여금 방문을 촉진시키거나 구매를 편리하게 하는 기능을 제공하는 가상의 영업장을 의미합니다.
        </p>
        <p>
            ②	제휴점 : 상품의 판매, 대여, 혹은 서비스 제공 등을 목적으로 운영되는 인터넷 웹사이트 또는 모바일 앱을 통해 운영되는 회사와 제휴하여 매장을 광고, 홍보하는 사업자를 의미합니다.
        </p>
        <p>
            ③	이용자 : 꽁술을 자신의 스마트폰, 태블릿PC, PC 등 단말기에 설치함으로써 꽁술을 통하여  제휴점의 상품 등에 대한 정보를 획득하고 구매를 실현하는 만 18세 이상의 일반 소비자를 의미합니다. 이용자는 유료맴버쉽이용자와 비맴버쉽이용자를 모두 포함합니다.
        </p>
        <p>
            ④	상품정보 : 제휴점이 자신이 판매하는 상품에 관해 꽁술 페이지에 기재한 상품의 이미지, 상품명, 가격정보, 링크정보 등을 의미합니다.
        </p>
        <p>
            ⑤	매장정보 : 제휴점이 자신의 “매장”에 관해 브랜드, 상품, 로고, 링크정보, 가치 등을 소개하는 페이지를 의미합니다.
        </p>
        <p>
            2. 제1항에서 정의되지 않거나 사용되는 용어의 정의는 별도로 규정하는 경우를 제외하고 일반적인 거래관행 및 제3조의 규정을 따릅니다..
        </p>
        <br>

        <h3>제 4 조 [서비스의 종류, 제공 범위 및 한계]</h3>
        <p>1. 회사가 제공하는 서비스는 다음과 같습니다.</p>
        <p>① E-Commerce Platform 개발 및 운영서비스</p>
        <p>
            가)	제휴점에서 판매하는 재화 또는 용역의 정보 및 판매관련 업무지원서비스
        </p>
        <p>
            나)	재화 또는 용역에 대한 정보 제공 및 이용자와 제휴점의 구매관련 지원서비스 / 구매계약 중개
        </p>
        <p>
            다)	상품 정보검색 서비스
        </p>
        <p>
            라)	기타 전자상거래 관련 서비스
        </p>
        <p>
            마)	광고 집행 및 프로모션 서비스
        </p>
        <p>
            2. 제휴점은 회사가 별도 고지한 서비스에 있어서 이용약관, 개인정보처리방침 및 기타 회사가 공지하는 사항을 항상 숙지해야 하며, 이를 숙지하지 못해 생기는 불이익은 제휴점에게 있습니다.
        </p>
        <p>
            3. 회사가 제공하는 서비스는 이용자와 제휴점 간에 재화 또는 용역을 거래할 수 있도록 꽁술의 이용을 허락하거나, 통신판매를 중개하고 재화 또는 용역의 정보만을 제공하는 것을 목적으로 하며, 회사는 제휴점이 꽁술에 제공하는 재화 또는 용역의 정보에 관련해서는 일체의 책임을 지지 않습니다.
        </p>
        <br>

        <h3>제 5 조 [대리행위의 부인]</h3>
        <p>
            회사는 정보제공서비스 사업자로서 효율적인 서비스를 위한 시스템 운영 및 관리 책임만을 부담하며, 재화 또는 용역의 거래와 관련하여 이용자 또는 제휴점을 대리하지 아니하고, 제휴점 사이에 성립된 거래 및 제휴점이 제공하고 등록한 정보에 대해서는 해당 제휴점이 그에 대한 직접적인 책임을 부담하여야 합니다.
        </p>
        <br>

        <h3>제 6 조 [보증의 부인]</h3>
        <p>
            회사는 회사가 제공하는 시스템을 통하여 이루어지는 이용자와 제휴점 간의 거래와 관련하여 판매의사 또는 구매의사의 존부 및 진정성, 등록물품의 품질, 완전성, 안정성, 적법성 및 타인의 권리에 대한 비침해성, 이용자 또는 제휴점이 입력하는 정보 및 그 정보를 통하여 링크된 URL에 게재된 자료의 진실성 또는 적법성 등 일체에 대하여 보증하지 아니하며, 이와 관련한 일체의 위험과 책임은 제휴점이 전적으로 부담합니다.
        </p>
        <br>

        <h3>제 7 조 [중개 서비스 이용계약의 성립]</h3>
        <p>
            1. 중개 서비스 이용계약(이하 "이용계약"이라고 합니다)은 회사가 제공하는 중개 서비스를 이용하고자 하는 자의 이용신청에 대하여 회사가 가입승인을 하는 동시에 이를 승낙한 것으로 간주하여 계약이 성립합니다. 회사는 이용 승낙의 사실을 E-mail, SMS 또는 기타 방법으로 10일 이내 개별적으로 통지합니다.
        </p>
        <p>
            2. 회사는 제휴점의 개인정보 수집시 서비스제공을 위하여 필요한 범위에서 최소한의 개인정보를 수집하며, 판매 및 홍보 서비스를 이용하고자 하는 자는 본 약관에 동의하고, 회사가 정하는 제휴점 가입 신청 양식에 따라 필요한 사항을 기입합니다.
        </p>
        <p>
            3. 제휴점 가입은 만 19세 이상의 개인 또는 사업자(개인사업자 및 법인사업자)가 할 수 있으며, 이용신청자는 실명으로 가입신청을 해야 하며, 실명이 아니거나 타인의 정보를 도용하는 경우 서비스이용이 제한될 수 있습니다.
        </p>
        <p>
            4. 이용신청의 처리는 신청순서에 의하며, 제휴점가입의 성립시기는 회사의 승낙이 된 시점입니다. 제휴점이 악의적 목적을 위해 허위계정 생성 및 이용 중 적발 시 회사는 피해사항에 따라 민형사상에 소송을 제기할 수 있습니다.
        </p>
        <p>
            5. 회사는 이용자의 개인정보를 안전하게 처리하기 위하여 개인정보 보호에 관한 사항을 정한'개인정보처리방침'을 수립하고 게시합니다. 단, 회사의 '개인정보 처리방침'은 회사의 서비스 제공 범위 내에서 적용되고, 링크된 사이트에서는 적용되지 않습니다. 링크된 사이트 및 상품 등을 제공하는 제3자의 개인정보 처리에 관하여는 해당 사이트 및 제3자의 개인정보처리방침을 확인할 책임이 제휴점에게 있으며, 회사는 이에 대하여 책임을 부담하지 않습니다.
        </p>
        <p>
            6. 회사는 다음과 같은 사유가 발생한 경우 이용신청에 대한 승낙을 거부하거나 유보할 수 있습니다.
        </p>
        <p>
            ① 회사에 의하여 이용계약 해지 및 정지 된 후 재이용신청을 하는 경우
        </p>
        <p>
            ② 회사로부터 제휴점 자격 정지 조치 등을 받은 제휴점이 그 조치기간 중에 이용계약을 임의 해지하고 재이용신청을 하는 경우
        </p>
        <p>
            ③ 설비에 여유가 없거나 기술상 지장이 있는 경우
        </p>
        <p>
            ④ 기타 이 약관에 위배되거나 위법 또는 부당한 이용신청임이 확인된 경우 및 회사가 합리적인 판단에 의하여 필요하다고 인정하는 경우
        </p>
        <br>

        <h3>제 8 조 [증빙 및 제츌 서류]</h3>
        <p>
            회사는 제휴점이 이 약관 제7조 제3항에 따라 제공한 정보의 정확성을 확인하기 위하여 관련법령이 허용하는 범위 내에서 증빙자료의 제공을 요청할 수 있습니다. 제휴점이 부당하게 증빙자료를 제공하지 않는 경우 회사는 이용계약의 해지, 활동의 제한 등 조치를 취할 수 있으며, 제휴점은 이로 인하여 발생하는 손해에 대해 회사에게 어떠한 책임도 물을 수 없습니다.
        </p>
        <br>

        <h3>제 9 조 [개인정보의 변경 및 보호]</h3>
        <p>
            1. 제휴점은 이용신청 시 허위의 정보를 제공하여서는 아니 되며, 기재한 사항이 변경되었을 경우에는 즉시 변경사항을 최신의 정보로 수정하여야 합니다. 단, 법령에 의한 변경 이외의 제휴점ID는 수정할 수 없습니다. 제휴점은 변경사항과 관련하여 회사가 요청하는 경우 즉시 변경사항에 관한 증빙자료를 제공하여야 합니다. 제휴점 정보 수정에 대한 권한은 아래와 같습니다.
        </p>
        <p>
            [수정불가] : 제휴점ID, 제휴사명, 사업자등록정보
        </p>
        <p>
            [운영자 승인시 수정가능] : 운영자에 증빙자료 제출(사업자등록증사본, 통신판매업허가신고증, 기타 증빙자료 등), 기타 정보(주소/연락처 등)
        </p>
        <p>
            [제휴점 자체 수정 및 등록 가능] : 매장정보, 상품정보 등
        </p>
        <p>
            2. 회사의 제휴점에 대한 통지는 제휴점이 제공한 주소 또는 e-mail주소에 도달함으로써 또는 제휴점이 제공한 휴대폰 연락처에 SMS형태로 정상 수신이 되었을 때, 통지된 것으로 보며, 수정하지 않은 정보로 인하여 발생하는 제휴점의 손해 또는 이용자의 손해는 당해 제휴점이 전적으로 부담하며, 회사는 이에 대하여 아무런 책임을 지지 않습니다. 또한, 제휴점이 변경된 정보를 수정하지 않거나 또는 허위 내용으로 수정하여 회사에게 손해를 입힌 경우에는 이에 대한 손해배상 책임을 부담합니다.
        </p>
        <p>
            3. 회사는 이용계약을 통해 제휴점이 제공한 정보 등을 제휴점이 동의한 회사 서비스 운영 및 서비스 활성화를 위한 광고 홍보를 위한 목적 이외의 용도로 사용할 수 없으며, 새로운 이용목적이 발생한 경우 또는 제3자에게 제공하는 경우에는 이용·제공단계에서 당해 제휴점에게 그 목적을 고지하고 동의를 받습니다. 다만, 관련 법령에 달리 정함이 있는 경우에는 예외로 합니다.
        </p>
        <br>

        <h3>제 10 조 [아이디 및 비밀번호의 관리]</h3>
        <p>
            1. 아이디(ID) 및 비밀번호에 대한 관리책임은 제휴점에게 있으며, 제휴점은 어떠한 경우에도 본인의 아이디(ID) 또는 비밀번호를 타인에게 양도하거나 대여할 수 없습니다.
        </p>
        <p>
            2. 회사의 귀책사유 없이 아이디(ID) 또는 비밀번호의 유출, 양도, 대여로 인하여 발생하는 손실이나 손해에 대하여는 제휴점이 그에 대한 책임을 부담합니다.
        </p>
        <p>
            3. 제휴점은 아이디(ID) 또는 비밀번호를 도난 당하거나 제3자가 무단으로 사용하고 있음을 인지한 경우, 즉시 회사에 통보하여야 하고 회사는 이에 대한 신속한 처리를 위하여 최선의 노력을 다하여야 합니다.
        </p>
        <br>

        <h3>제 11 조[계약기간 및 이용계약의 종료]</h3>
        <p>
           1. 본 계약의 유효 기간은 회사가 제휴점의 이용 가입 승인한 시점으로부터 1년으로 합니다. 단, 계약기간 만료 일 (1)개월 전까지 당사자 일방이 상대방에 대하여 서면으로 갱신거절의 의사를 통지하거나 계약내용의 변경을 요청하지 아니하면, 본 계약은 계약만료 익일부터 (1)년씩 동일 조건으로 자동연장 됩니다.
        </p>
        <p>
            2. 제1항 단서의 기간을 준수하지 않아 발생한 불이익에 대한 책임은 제휴점 본인이 부담하여야 합니다.
        </p>
        <p>
            3. 제휴점의 의사로 이용계약을 해지 한 후, 추후 재이용을 희망할 경우에는 재이용 의사가 회사에 통지되고, 이에 대한 회사의 승낙이 있는 경우에만 서비스 재이용이 가능합니다.
        </p>
        <p>
            4. 회사의 해지
        </p>
        <p>
            ① 회사는 다음과 같은 사유가 발생하거나 확인된 경우 이용계약을 해지할 수 있습니다
        </p>
        <p>
            가) 다른 제휴점 또는 타인의 권리나 명예, 신용 기타 정당한 이익을 침해하거나 대한민국 법령 또는 공서양속에 위배되는 행위를 한 경우
        </p>
        <p>
            나) 회사가 제공하는 서비스의 원활한 진행을 방해하는 행위를 하거나 시도한 경우
        </p>
        <p>
            다) 제7조 제6항의 승낙거부사유가 있음이 확인된 경우
        </p>
        <p>
            라) 제휴점이 제공한 정보 또는 그에 관한 증빙자료가 허위이거나 회사가 요청하는 증빙자료를 제공하지 않는 경우
        </p>
        <p>
            마) 제휴점의 요청에 의해 서비스 이용을 일시적으로 중단한 후, 해당 기간이 3개월 이상 지속되는 경우
        </p>
        <p>
            바) 회사에서 운영하는 정책 위반에 따른 페널티가 2회 이상 부여된 경우
        </p>
        <p>
            사) 기타 회사가 합리적인 판단에 기하여 서비스의 제공을 거부할 필요가 있다고 인정할 경우
        </p>

        <p>
            ② 회사가 해지를 하는 경우 회사는 제휴점에게 유선 또는 이메일, 기타의 방법을 통하여 해지사유를 밝혀 해지의사를 통보합니다. 이 경우 회사는 해당 제휴점에게 사전에 해지사유에 대한 의견진술의 기회를 부여할 수 있습니다.
        </p>
        <p>
            ③ 이용계약은 회사의 해지의사를 제휴점에게 통지한 시점에 종료됩니다.
        </p>
        <p>
            ④ 본 항에서 정한 바에 따라 이용계약이 종료될 시에는 회사는 제휴점에게 부가적으로 제공한 각종 혜택을 회수할 수 있습니다.
        </p>
        <p>
            ⑤ 본 항에서 정한 바에 따라 이용계약이 종료된 경우에는, 제휴점의 재이용신청에 대하여 회사는 이에 대한 승낙을 거절할 수 있습니다.
        </p>

        <p>
           5. 당사자 일방에게 다음 각 호의 사유가 발생한 경우, 그 상대방은 별도의 최고 없이 해지의 통지를 함으로써 이용계약을 해지할 수 있습니다.
        </p>
        <p>
            ① 이용계약의 의무를 위반하여 상대방으로부터 그 시정을 요구 받은 후 7일 이내에 이를 시정하지 아니한 경우
        </p>
        <p>
           ② 부도 등 금융기관의 거래정지, 회생 및 파산절차의 개시, 영업정지 및 취소 등의 행정처분, 주요 자산에 대한 보전처분, 영업양도 및 합병 등으로 이용계약의 이행이 불가능한 경우
        </p>
        <p>
            ③ 제휴점의 책임 있는 사유로 2개월간의 거래건 중 30% 이상의 거래 건에서 이용자로부터의 클레임이 제기되었을 경우
        </p>
        <p>
            ④ 관련 법령 위반 등 제휴점의 책임 있는 사유로 인하여 회사가 명예 실추 등 유무형적 손해를 입은 경우
        </p>
        <p>
            ⑤ 제휴점의 해지
        </p>

        <p>
            6. 회사는 컴퓨터 등 정보통신설비의 보수, 점검, 교체 및 고장, 통신의 두절 등의 사유가 발생한 경우에는 서비스의 제공을 일시적으로 중단할 수 있습니다. 이 경우 서비스 일시 중단 사실과 그 사유를 “제휴점 관리자 페이지” 상에 게시하거나 제휴점이 제공한 전자우편 또는 제휴점이 제공한 휴대폰 연락처에 SMS 형태로 통지합니다.
        </p>
        <p>
            7. 회사는 천재지변 또는 이에 준하는 불가항력으로 인하여 서비스를 제공할 수 없는 경우에는 서비스의 제공을 제한하거나 일시 중단할 수 있습니다.
        </p>
        <br>

        <h3>제 12 조 [제휴점 관리]</h3>
        <p>
            1. 회사는 본 약관의 본지와 관련 법령 및 상거래의 일반원칙을 위반한 제휴점과 본 약관의 의무사항을 위반한 판매자에 대하여 다음과 같은 조치를 할 수 있습니다.
        </p>
        <p>
            ① 회사가 부가적으로 제공한 혜택의 일부 또는 전부의 회수
        </p>
        <p>
            ② 특정서비스 이용제한
        </p>
        <p>
            ③ 이용계약의 해지
        </p>
        <p>
            ④ 손해배상의 청구
        </p>
        <p>
            ⑤ 휴점 및 퇴점처리
        </p>
        <p>
            2. 회사가 전항 각 호에 정한 조치를 할 경우 회사는 사전에 제휴점에게 유선 또는 이메일, 기타의 방법을 통하여 통보하며, 제휴점의 연락이 두절되거나 긴급을 요하는 것과 같이 부득이한 경우 선 조치 후 사후 통보할 수 있습니다.
        </p>
        <p>
            3. 제휴점은 본조에 의한 회사의 조치에 대하여 항변의 사유가 있는 경우 이에 대하여 항변을 할 수 있습니다.
        </p>
        <br>

        <h3>제 13 조 [등급점수 및 페널티 부여]</h3>

        <p>
            1. 회사는 서비스를 통한 거래의 안전성과 신뢰성을 제고하기 위하여 제휴점에 대한 평가를 진행하고 등급점수(상벌점)을 부여하며, 이를 기준으로 제휴점에게 일정한 혜택 또는 제한을 적용할 수 있습니다.
        </p>
        <p>
            ① 회사는 상품이미지, 민원 처리 등에 기초하여 제휴점의 거래를 평가하여 등급점수 및 페널티를 부여합니다.
        </p>
        <p>
            ② 제휴점이 신규 제휴점 자격을 얻은 후 운영정책에 따른 페널티 2회 이상 누적 부여받았을 경우, 회사는 제휴점에게 서비스 이용제한, 제휴점 자격정지 등의 조치를 취할 수 있습니다.
        </p>
        <p>
            2. 제휴점에 대한 등급점수 및 페널티 부여, 서비스 이용 제한, 제휴점 자격정지 등의 기준은 운영정책에 따르며, 회사는 제휴점이 운영정책의 내용을 확인할 수 있도록 “제휴점 관리자 페이지” 공지사항 또는 기타의 방법으로 안내합니다.
        </p>
        <p>
           3. 회사는 제휴점이 본 약관, 회사의 운영정책 및 관련법령을 위반하거나, 타인의 권리를 침해하는 행위 또는 그러한 위법•부당한 행위가 있는 것으로 의심될 만한 상당한 이유가 있는 경우 제휴점의 제휴점 자격을 정지하거나 서비스의 이용을 제한할 수 있습니다.
        </p>
        <br>

        <h3>제 14 조 [이용자 정보의 보호]</h3>
        <p>
            1. 제휴점은 꽁술의 이용에 따라 취득한 서비스 이용자 등 타인의 개인정보를 이 약관에서 정한 목적 이외의 용도로 사용할 수 없으며, 이를 위반할 경우 당해 제휴점은 관련 법령에 의한 모든 민ㆍ형사상의 법적 책임을 지고 자신의 노력과 비용으로 회사를 면책시켜야만 하며, 회사는 당해 제휴점을 탈퇴시킬 수 있습니다.
        </p>
        <p>
           2. 회사는 개인정보 보호를 위하여 중개 서비스 운영 등의 목적으로 제휴점에게 공개되어 있는 이용자의 개인정보를 상당 기간이 경과한 후 비공개 조치할 수 있습니다.
        </p>
        <p>
            3. 회사가 개인정보의 보호를 위하여 상당한 주의를 기울였음에도 불구하고, 특정 제휴점이 제1항을 위반하여 타인의 개인정보를 유출 또는 유용한 경우 회사는 그에 대하여 아무런 책임을 지지 않습니다.
        </p>
        <p>
            4. 전기통신사업법 등 관련 법령이 규정하는 적법한 절차에 따라 수사관서 등이 회사에 제휴점에 관한 정보의 제공을 요청한 경우, 회사는 그에 관한 자료를 제출할 수 있습니다.
        </p>
        <p>
            5. 제휴점이 이용자의 개인정보를 취급할 때에는 개인정보의 분실·도난·누출·변조 또는 훼손을 방지하기 위하여 관련법령에서 정한 기술적·관리적 조치를 다하여야 합니다. 제휴점은 이용자의 개인정보를 취급하는 자를 최소한으로 제한하여야 합니다. 제휴점은 목적을 다한 개인정보에 대하여 지체 없이 해당 개인정보를 복구·재생할 수 없도록 파기하여야 합니다.
        </p>
        <br>

        <h3>제 15 조 [금지행위]</h3>
        <p>
            1. 제휴점은 다음 각 호에 해당하는 행위를 하여서는 아니되며 이를 위반한 경우 회사는 제휴점에게 페널티 부여, 서비스 이용 제한, 이용계약 해지 등의 조치를 취할 수 있습니다.  이에 대한 기준은 운영정책에서 정합니다
        </p>
        <p>
            ① 회사는 제휴점의 금지 행위에 대해 부가적인 확인 요청을 요구할 수 있으며, 제휴점은 이에 협조할 의무가 있습니다. 회사는 금지 행위 위반으로 인해 발생하는 모든 피해에 대하여 책임지지 않습니다.
        </p>
        <p>
            ② 다음 각 호에 해당하는 행위 적발 시 14조에 의거, 서비스 이용제한, 이용계약 해지 등의 조치를 취할 수 있습니다.
        </p>
        <p>
           2. 매장등록 관련 금지행위
        </p>
        <p>
            ① 매장 중복 등록: 제휴점이 본인의 아이디, 추가 아이디 또는 다른 제휴점의 아이디를 이용하여 실질적으로 동일한 매장(이하, "동일 매장”)을 중복하여 등록하는 것
        </p>
        <p>
            ② 카테고리 위반 등록: 해당 상품과 관계없는 카테고리에 상품 등록 등 기타 비정상적인 방법으로 매장을 노출하는 행위
        </p>
        <p>
           ③ 허위 등록 : 브랜드, 정보 등을 등록 시 허위로 기재하거나 표시하지 않는 행위
        </p>
        <p>
            ④ 상표권 침해: 매장 등록 시 매장과 상관없는 브랜드명 등을 사용하거나 중복해서 사용하는 행위
        </p>
        <p>
            ⑤ 저작권 침해: 허가 없이 타인의 상표나 로고를 사용하는 행위 등 타인의 지적재산권을 침해행위 또는 타인이 촬영한 사진, 타인이 창작한 이미지나 문구 등 인간의 사상 또는 감정을 표현한 모든 창작물을 무단으로 사용하는 행위
        </p>
        <p>
            ⑥ 초상권 및 성명권 침해: 연예인 사진 등 타인의 초상권 및 성명권을 침해하는 행위 또는 ‘연예인 이름+스타일’과 같은 문구를 제목, 키워드, 상품상세설명에 무단으로 사용하는 행위
        </p>

        <p>
            3. 운영관련 금지행위
        </p>
        <p>
           ① 허위체결: 제휴점이 매장 노출순위 및 제휴점 신용등급 조작, 상품평 조작 등 매출증대를 위해 본인 또는 타인의 ID를 사용하여 제휴점 본인의 매장 상품을 구매 및 체결하는 행위
        </p>
        <p>
            ② 특정 서비스 가입조건 판매: 등록상품, 서비스의 판매 및 광고 이외의 목적으로 상품을 등록하여 판매하는 행위 예) 인터넷 서비스 가입을 조건으로 하여 일정 금액을 부담하면 지급되는 사은품을 등록하여 판매하는 행위
        </p>
        <p>
            ③ 직거래 및 직거래 유도: 회사의 결제대금 보호 서비스를 통하지 않은 직거래 유도행위 및 구매제휴점의 직거래 요청을 수락하는 행위
        </p>
        <p>
           ④ 연락두절: 이용자 및 회사가 제휴점이 제공한 유선 또는 이메일, 기타의 방법을 통하여 연락을 시도하였음에도 일체의 응대가 진행되지 않는 것
        </p>
        <p>
            ⑤ 제휴점은 휴업, 영업정지, 폐업 등 정상적인 영업활동이 불가한 상태 또는 이와 같은 상태가 예상되는 경우 이를 즉시 회사에 통보하여야 하며 전자상거래 등에서의 소비자보호에 관한 법률 등 관련법에 따른 취소, 반품, 교환 등의 신속한 처리를 위하여 최선의 노력을 다하여야 합니다.
        </p>
        <br>

        <h3>제 16 조 [품질보증 및 애프터서비스]</h3>

        <p>
            1. “꽁술”에서 홍보가 된 매장의 품질보증에 따른 사후관리(이하 “A/S”)에 관해서는 관련 법규에 따라 제휴점이 책임을 집니다.
        </p>
        <p>
            2. 제휴점이 정한 품질보증기간이 소비자분쟁해결기준보다 짧을 경우, 소비자분쟁해결기준이 우선 적용됩니다.
        </p>
        <br>

        <h3>제 17 조 [약관 외 준칙 및 관련 법령과의 관계]</h3>

        <p>
            1. 이 약관에 명시되지 않은 사항은 전자상거래등에서의소비자보호에관한법률 등 관련 법령의 규정과 일반 상관례에 의합니다.
        </p>
        <p>
            2. 회사는 이 약관에서 규정되지 않은 구체적인 내용과 특정서비스에 관한 내용을 별도의 약관(이하 "개별약관"이라 함)에 규정할 수 있으며, 이를 “제휴점 관리자 페이지”를 통하여 공지하거나 제휴점이 제공한 e-mail주소 또는 제휴점이 제공한 휴대폰 연락처에 SMS형태로 정상 수신이 되었을 때, 공지사항 카테고리에 변경사항에 대한 내용이 등록되었을 때 개정 사항이 통지된 것으로 보며 제휴점이 이에 동의한 경우 개별약관은 이 약관과 더불어 이용계약의 일부를 구성합니다.
        </p>
        <p>
            3. 회사는 전항의 개별약관에 변경이 있을 경우, 적용일자 및 변경사유를 명시하여 현행 개별약관 등과 함께 그 적용일자 7일(다만, 제휴점에게 불리한 내용으로 변경하는 경우에는 30일) 이전부터 적용일자 전일까지 위 2항과 같은 방법으로 해당 변경사항을 공지합니다. 변경된 개별약관은 그 적용일자 이전으로 소급하여 적용되지 아니 합니다.
        </p>
        <p>
            4. 제휴점은 이 약관 및 개별약관(이하 “약관등”)의 내용에 변경이 있는지 여부를 주시하여야 하며, 변경사항의 공지가 있을 시에는 이를 확인하여야 한다.
        </p>
        <p>
            5. 회사는 특정 제휴점과 개별적으로 약관등에 규정된 내용과 다른 내용의 계약(이하 “개별계약”이라 함)을 체결할 수 있습니다. 이 경우 개별계약이 약관등에 우선하여 적용됩니다. 회사는 개별계약을 체결한 제휴점에게 계약내용을 서면(전자문서 포함)교부하거나 제휴점 화면에서 확인할 수 있도록 하여야 합니다.
        </p>
        <br>

        <h3>제 18 조 [손해배상]</h3>

        <p>
            1. 당사자 일방 또는 당사자 일방의 피고용인, 대리인, 기타 도급 및 위임 등으로 당사자 일방을 대신하여 이용계약을 이행하는 자의 책임 있는 사유로 이용계약의 이행과 관련하여 상대방에 손해가 발생한 경우, 그 당사자 일방은 상대방에게 발생한 손해를 배상할 책임이 있습니다.
        </p>
        <p>
           2. 제휴점이 이용계약을 위반함으로써 “회사”의 대외 이미지 실추 등 회사에 유, 무형적 손해가 발생한 경우, 제휴점은 회사의 손해를 배상하여야 합니다.
        </p>
        <br>

        <h3>제 19 조 [비밀유지]</h3>
        <p>
            1.  각 당사자는 법령상 요구되는 경우를 제외하고는 상대방으로부터 취득한 이용자명부, 기술정보, 생산 및 판매계획, 노하우 등 비밀로 관리되는 정보를 제3자에게 누설하여서는 안되며, 그 정보를 이용계약의 이행 이외의 목적으로 이용하여서는 아니 됩니다.
        </p>
        <p>
            2. 전항의 의무는 이용계약의 종료 후에도 3년간 존속합니다.
        </p>
        <br>

        <h3>제 20 조 (권리, 의무의 양도금지)</h3>
        <p>
            "제휴점"은 "회사"의 사전 서면동의 없이 이 약관상의 권리 또는 의무의 전부 또는 일부를 제3자에게 양도, 이전, 증여하거나 이를 담보로 제공할 수 없습니다
        </p>
        <br>

        <h3>제 21 조 [회사의 면책]</h3>
        <p>
            회사는 정보제공서비스 사업자로서 “꽁술”을 기반으로 한 거래시스템만을 제공할 뿐, 제휴점이 등록한 상품 및 용역 등에 관한 정보 또는 이용자와의 거래에 관하여 분쟁이 발생한 경우 회사는 그 분쟁에 개입하지 않으며 그 분쟁의 결과로 인한 모든 책임은 제휴점이 부담합니다. 또한 이와 관련하여 회사가 제3자에게 손해를 배상하거나 기타 비용을 지출한 경우 회사는 제휴점에게 구상권을 행사할 수 있습니다. 단, 회사는 분쟁의 합리적이고 원활한 조정을 위하여 회사가 설치 운영하는 분쟁조정센터(고객센터 포함)를 통하여 예외적으로 당해 분쟁에 개입할 수 있으며, 제휴점은 분쟁조정센터의 결정을 신의원칙에 입각하여 최대한 존중해야 합니다.
            회사는 적법한 권리자의 요구가 있는 경우에는 당해 매장 및 상품 등에 관한 정보를 삭제하거나 수정할 수 있으며, 제휴점은 이로 인한 손해배상을 회사에 청구할 수 없습니다.
            회사는 전소법 제20조 제2항에 의거하여 제휴점의 정보를 열람할 수 있는 방법을 이용자에게 제공할 수 있으며, 제휴점은 당해 정보를 기재하지 아니하거나, 허위로 기재할 수 없습니다.
        </p>
        <br>

        <h3>제 22 조 (준거법 및 재판관할)</h3>
        <p>
            ① “회사”와 “제휴점”간 제기된 소송은 대한민국법을 준거법으로 합니다.
        </p>
        <p>
            ② “회사”와 “제휴점” 간 발생한 분쟁에 관한 소송은 제소 당시의 “제휴점”의 주소에 의하고, 주소가 없는 경우 거소를 관할하는 지방법원의 전속관할로 합니다. 단, 제소 당시 “제휴점”의 주소 또는 거소가 분명하지 않거나 외국 거주자의 경우에는 민사소송법상의 관할법원에 제기합니다.
        </p>
        <br>

        <h3>이 약관은 2020년 12월 01일부터 시행됩니다.</h3>
    </body>
</html>